body {

    text-align: center;

}

#apps {

    background-color: aqua;
    width: 100%;
    height: 800px;

}

#Games {

    background-color: coral;
    width: 100%;
    height: 800px;

}

#Chatbot {

    background-color: mediumpurple;
    width: 100%;
    height: 800px;

}

img {
    transition: transform .2s;
}

img:hover {
    transform: scale(0.9);
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

.container {
    text-align: center;
}

#myCarousel {
    background-color: red;
}

#myCarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}

#myCarousel2 {
    background-color: #b5d0d4;
}

#myCarousel2 img {
    height: 300px;
    margin-top: 35px;
}
